<div class="container" style="height: 100vh">
  <div class="card mx-auto" style="max-width: 480px; top: 25%">
    <div class="card-header">Registration</div>
    <div class="card-body">
      <form
        id="register-form"
        #rForm="ngForm"
        [formGroup]="registerForm"
        (ngSubmit)="onRegister()"
        novalidate
      >
        <div class="form-group">
          <label for="nameTxt">Name</label>
          <input
            id="nameTxt"
            type="text"
            formControlName="name"
            class="form-control"
            [ngClass]="{ 'is-invalid': errorName }"
            (keyup)="handleName()"
          />
          <div class="invalid-feedback">
            {{ errorName }}
          </div>
        </div>
        <div class="form-group">
          <label for="emailTxt">Email</label>
          <input
            id="emailTxt"
            type="email"
            formControlName="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': errorEmail }"
            (keyup)="handleEmail()"
          />
          <div class="invalid-feedback">
            {{ errorEmail }}
          </div>
        </div>
        <div class="form-group">
          <label for="passwordTxt">Password</label>
          <input
            id="passwordTxt"
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': errorPassword }"
            (keyup)="handlePassword()"
          />
          <div class="invalid-feedback">
            {{ errorPassword }}
          </div>
        </div>
        <div class="form-group" *ngIf="!isLoading">
          <button
            type="button"
            class="btn btn-link float-left"
            [routerLink]="['/login']"
          >
            Return to Log In
          </button>
          <button
            type="submit"
            form="register-form"
            class="btn btn-primary float-right"
            [disabled]="!formIsValid()"
          >
            Create account
          </button>
        </div>
        <div
          class="spinner-border text-primary float-right"
          role="status"
          *ngIf="isLoading"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </form>
    </div>
  </div>
</div>
